on: push

jobs:
  deploy-web:
    runs-on: self-hosted
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Deploy to all webservers
        shell: bash
        run: |
          base=21
          end=21

          for i in $(seq $base $end); do
              (
                  scp -o ConnectTimeout=5 -i ~/.ssh/id_webdeploy  ./* "webdeploy@10.0.0.$i:/web/scripts/" \
                      && echo "10.0.0.$i succeeded" \
                      || echo "10.0.0.$i failed"
              ) &
          done
          wait
  
  deploy-lb:
    runs-on: self-hosted
    steps:
      - name: Deploy loadbalancer configuration
        shell: bash
        run: |
          cp ./webservers /web/scripts/webservers
