on: push

jobs:
  deploy:
    runs-on: self-hosted
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Deploy to all webservers
        shell: bash
        run: |
          base=20
          end=254

          for i in $(seq $base $end); do
              (
                  ssh -o ConnectTimeout=5 -i ~/.ssh/id_webdeploy "webdeploy@10.0.0.$i" "hostname" \
                      && echo "10.0.0.$i succeeded" \
                      || echo "10.0.0.$i failed"
              ) &
          done
          wait