on: push

jobs:
  deploy:
    runs-on: self-hosted
    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Deploy to all webservers
        run: |
          base=20
          for i in $(seq 1 2);
            do
              host=$(( $base + $i ))
              echo "10.0.0.$host";
          done
